[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Ejemplos de *DQL*.

https://console.cloud.google.com/bigquery

Se utilizará el data set [*Chicago Taxi Trips*](https://www.kaggle.com/datasets/chicago/chicago-taxi-trips-bq)

``` sql
#StandardSQL
SELECT *
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`;
```

``` sql
#StandardSQL
SELECT *
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
LIMIT 1000;
```

```SQL
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
LIMIT 1000;
```

```SQL
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_total > 10
LIMIT 1000;
```

```SQL
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_total > 10
  ORDER BY company
LIMIT 1000;
```

```SQL
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_total > 10 AND company IS NOT NULL
  ORDER BY company
LIMIT 1000;
```

```SQL
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_total > 10 AND company IS NOT NULL
  ORDER BY company DESC
LIMIT 1000;
```

* https://cloud.google.com/bigquery/docs/reference/standard-sql/date_functions#extract

```sql
#StandardSQL
SELECT unique_key AS id, 
trip_start_timestamp AS inicio, 
trip_start_timestamp AS fin,
company,
trip_total
FROM
  `bigquery-public-data.chicago_taxi_trips.taxi_trips`
  WHERE trip_total > 500 AND 
  company IS NOT NULL AND 
  EXTRACT(YEAR FROM
    trip_start_timestamp) = 2017
  ORDER BY company DESC, inicio;
```

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2022.</p>