[![pythonista](img/pythonista.png)](https://www.pythonista.io)

# Los tipos de datos ```array``` y ```struct```.

https://console.cloud.google.com/bigquery

## El tipo ```array```.

En *BigQuery*, un arreglo es una lista ordenada que consta de cero o más valores del mismo tipo de datos.

Los arreglos son definidos como una sucesión de datos del mismo tipo  separados por comas y delimitados por corchetes ```[``` ```]```.

https://cloud.google.com/bigquery/docs/reference/standard-sql/arrays

**Ejemplos:**

``` sql
SELECT ['Hugo', 'Paco', 'Luis'] as patos;
```

``` sql
SELECT [] as nada;
```

``` sql
SELECT [1, 2, 3, 4] as numeros;
```

### Selecccción de elementos en un arreglo.

Existen diversos operadores que permiten seleccionar elmentos dentro de un arreglo tales como:

* ```OFFSET```, que identifica a un elemento con un índice que empieza en ```0```.
* ```ORDINAL```, que identifica a un elemento con un índice que empieza en ```1```.
* ```SAFEOFFSET```, que identifica a un elemento con un índice que empieza en ```0``` o ```NULL``` cuando está fuera de rango.
* ```SAFEORDINAL```, que identifica a un elemento con un índice que empieza en ```1``` o ```NULL``` cuando está fuera de rango.

https://cloud.google.com/bigquery/docs/reference/standard-sql/operators#array_subscript_operator

**Ejemplo:**

``` sql
WITH Items AS (SELECT ["leche", "pan", "huevo"] AS arreglo)
SELECT
  arreglo,
  arreglo[OFFSET(1)] AS item_offset,
  arreglo[ORDINAL(1)] AS item_ordinal,
  arreglo[SAFE_OFFSET(6)] AS item_safe_offset,
FROM Items
```

### Funciones para arreglos.

https://cloud.google.com/bigquery/docs/reference/standard-sql/array_functions

## El tipo ```struct```.

Los tipos ```STRUCT``` se declaran mediante los corchetes angulares ```<```  ```>```. El tipo de elementos de un ```STRUCT``` puede ser arbitrariamente complejo.

https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#declaring_a_struct_type

``` sql
(
SELECT "Cafe Paci" AS name, "Newtown" AS location,
STRUCT(["European", "Casual", "Wine bar"] AS cuisine_array, "$$$" AS price_range, False AS has_delivery) AS basic_info
UNION ALL
SELECT "Ho Jiak" AS name, "Haymarket" AS location,
STRUCT(["Malaysian", "Street-food"] AS cuisine_array, "$$" AS price_range, True AS has_delivery) AS basic_info
UNION ALL
SELECT "Spice I Am" AS name, "Surry Hills" AS location,
STRUCT(["Thai", "Casual"] AS cuisine_array, "$$" AS price_range, True AS has_delivery) AS basic_info
UNION ALL
SELECT "Chaco Bar" AS name, "Potts Point" AS location,
STRUCT(["Japanese", "Yakitori", "Casual"] AS cuisine_array, "$$" AS price_range, False AS has_delivery) AS basic_info);
```

### La función ```UNNEST```.

``` sql
SELECT
  *
FROM
  UNNEST([1, 2, 2, 5, NULL]) AS unnest_column
```

``` sql
SELECT
  *
FROM
  UNNEST(
       ARRAY<STRUCT<fruit STRING , number INT64>>[
         ('apples', 4), ('pears', 6), ('bananas', 2)
       ]
  )
AS simple_table;
```

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2022.</p>