In [1]:
import pandas as pd
import datetime

In [2]:
confirmados = pd.read_csv('data/Casos_Diarios_Estado_Nacional_Confirmados_20220430.csv')

In [3]:
confirmados

,cve_ent,poblacion,nombre,26-02-2020,27-02-2020,28-02-2020,29-02-2020,01-03-2020,02-03-2020,03-03-2020,...,21-04-2022,22-04-2022,23-04-2022,24-04-2022,25-04-2022,26-04-2022,27-04-2022,28-04-2022,29-04-2022,30-04-2022
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,24,28,2,1,56,25,21,33,19,0
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,9,7,2,2,25,23,25,17,15,0
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,12,7,8,1,16,24,18,12,6,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,4,0,1,3,5,1,3,4,1,0
4,7,5730367,CHIAPAS,0,0,0,1,0,0,0,...,1,1,0,0,1,1,1,3,1,0
5,8,3801487,CHIHUAHUA,0,0,0,0,0,0,0,...,15,19,8,0,18,8,9,9,2,0
6,9,9018645,DISTRITO FEDERAL,0,2,0,0,0,0,1,...,177,162,80,117,186,163,200,134,63,1
7,5,3218720,COAHUILA,0,0,1,0,0,0,1,...,4,0,4,2,4,4,3,2,2,0
8,6,785153,COLIMA,0,0,0,0,0,0,0,...,9,2,1,2,3,9,6,2,2,0
9,10,1868996,DURANGO,0,0,0,0,0,0,0,...,3,6,1,1,16,8,1,2,0,0
10,11,6228175,GUANAJUATO,0,0,0,0,1,3,3,...,7,18,4,3,17,11,8,7,2,0
11,12,3657048,GUERRERO,0,0,0,0,0,0,0,...,8,1,0,0,2,6,3,2,0,0
12,13,3086414,HIDALGO,0,1,0,0,0,0,0,...,2,3,2,0,11,3,2,5,3,0
13,14,8409693,JALISCO,0,0,0,0,0,0,0,...,15,10,8,9,25,17,22,13,3,0
14,15,17427790,MEXICO,0,1,1,1,0,2,2,...,35,47,19,11,57,36,40,35,12,0
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,3,3,1,2,6,6,5,2,3,0
16,17,2044058,MORELOS,0,0,0,0,0,0,0,...,3,4,0,1,1,6,1,3,1,0
17,18,1288571,NAYARIT,0,0,0,0,0,0,1,...,2,3,1,2,11,5,4,10,2,0
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,5,8,5,0,19,7,6,5,2,0
19,20,4143593,OAXACA,0,0,0,0,1,0,0,...,22,21,4,8,28,22,18,16,10,0
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,20,19,10,11,23,13,9,16,12,0
21,22,2279637,QUERETARO,0,0,0,0,0,0,0,...,7,16,2,0,10,11,7,8,5,0
22,23,1723259,QUINTANA ROO,0,0,0,0,0,0,0,...,9,9,6,11,17,7,10,11,4,0
23,24,2866142,SAN LUIS POTOSI,0,0,0,0,0,0,0,...,19,8,6,4,18,16,21,13,7,0
24,25,3156674,SINALOA,0,0,0,0,0,0,0,...,24,12,8,3,11,6,10,11,1,0
25,26,3074745,SONORA,0,0,0,0,0,0,0,...,4,6,1,2,11,12,7,4,2,0
26,27,2572287,TABASCO,0,0,0,0,0,0,0,...,6,1,0,1,2,4,5,10,3,0
27,28,3650602,TAMAULIPAS,0,0,0,0,0,0,0,...,10,6,3,1,6,5,8,8,3,0
28,29,1380011,TLAXCALA,0,0,0,0,0,0,0,...,3,2,1,0,6,4,2,0,0,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,28,23,9,16,52,79,51,34,39,0
30,31,2259098,YUCATAN,0,0,0,0,0,0,0,...,23,31,2,5,44,38,25,24,27,0
31,32,1666426,ZACATECAS,0,0,0,0,0,0,1,...,1,3,1,2,8,3,5,1,3,0
32,0,127792286,Nacional,0,4,2,2,2,5,9,...,514,486,200,221,715,583,556,456,255,1

In [11]:
datos = confirmados.transpose()[2:]

In [12]:
datos

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
26-02-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27-02-2020,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,4
28-02-2020,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
29-02-2020,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26-04-2022,25,23,24,1,1,8,163,4,9,8,...,16,6,12,4,5,4,79,38,3,583
27-04-2022,21,25,18,3,1,9,200,3,6,1,...,21,10,7,5,8,2,51,25,5,556
28-04-2022,33,17,12,4,3,9,134,2,2,2,...,13,11,4,10,8,0,34,24,1,456
29-04-2022,19,15,6,1,1,2,63,2,2,0,...,7,1,2,3,3,0,39,27,3,255
30-04-2022,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
datos.columns = pd.Index(datos.iloc[0])

In [14]:
datos

nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
26-02-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27-02-2020,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,4
28-02-2020,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
29-02-2020,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26-04-2022,25,23,24,1,1,8,163,4,9,8,...,16,6,12,4,5,4,79,38,3,583
27-04-2022,21,25,18,3,1,9,200,3,6,1,...,21,10,7,5,8,2,51,25,5,556
28-04-2022,33,17,12,4,3,9,134,2,2,2,...,13,11,4,10,8,0,34,24,1,456
29-04-2022,19,15,6,1,1,2,63,2,2,0,...,7,1,2,3,3,0,39,27,3,255
30-04-2022,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
datos = datos[1:]

In [16]:
datos

nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
26-02-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27-02-2020,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,4
28-02-2020,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
29-02-2020,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
01-03-2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26-04-2022,25,23,24,1,1,8,163,4,9,8,...,16,6,12,4,5,4,79,38,3,583
27-04-2022,21,25,18,3,1,9,200,3,6,1,...,21,10,7,5,8,2,51,25,5,556
28-04-2022,33,17,12,4,3,9,134,2,2,2,...,13,11,4,10,8,0,34,24,1,456
29-04-2022,19,15,6,1,1,2,63,2,2,0,...,7,1,2,3,3,0,39,27,3,255
30-04-2022,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
datos = datos.astype(int)

In [19]:
datos.reset_index(inplace=True)

In [20]:
datos

nombre,index,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
0,26-02-2020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,27-02-2020,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,4
2,28-02-2020,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
3,29-02-2020,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,01-03-2020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,26-04-2022,25,23,24,1,1,8,163,4,9,...,16,6,12,4,5,4,79,38,3,583
791,27-04-2022,21,25,18,3,1,9,200,3,6,...,21,10,7,5,8,2,51,25,5,556
792,28-04-2022,33,17,12,4,3,9,134,2,2,...,13,11,4,10,8,0,34,24,1,456
793,29-04-2022,19,15,6,1,1,2,63,2,2,...,7,1,2,3,3,0,39,27,3,255
794,30-04-2022,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
datos['index'] = pd.to_datetime(datos['index'])

In [22]:
datos['index']

0     2020-02-26
1     2020-02-27
2     2020-02-28
3     2020-02-29
4     2020-01-03
         ...
790   2022-04-26
791   2022-04-27
792   2022-04-28
793   2022-04-29
794   2022-04-30
Name: index, Length: 795, dtype: datetime64[ns]

In [23]:
datos.set_index('index', inplace=True)

In [24]:
datos

nombre,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS,Nacional
index,,,,,,,,,,,,,,,,,,,,,
2020-02-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-27,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2020-02-28,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
2020-02-29,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-26,25,23,24,1,1,8,163,4,9,8,...,16,6,12,4,5,4,79,38,3,583
2022-04-27,21,25,18,3,1,9,200,3,6,1,...,21,10,7,5,8,2,51,25,5,556
2022-04-28,33,17,12,4,3,9,134,2,2,2,...,13,11,4,10,8,0,34,24,1,456
2022-04-29,19,15,6,1,1,2,63,2,2,0,...,7,1,2,3,3,0,39,27,3,255
2022-04-30,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

https://parquet.apache.org/

In [25]:
!pip install fastparquet

Requirement already satisfied: fastparquet in /home/josech/py3/lib/python3.9/site-packages (0.8.1)
Requirement already satisfied: cramjam>=2.3.0 in /home/josech/py3/lib/python3.9/site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: pandas>=1.1.0 in /home/josech/py3/lib/python3.9/site-packages (from fastparquet) (1.3.4)
Requirement already satisfied: numpy>=1.18 in /home/josech/py3/lib/python3.9/site-packages (from fastparquet) (1.21.2)
Requirement already satisfied: fsspec in /home/josech/py3/lib/python3.9/site-packages (from fastparquet) (2022.3.0)
Requirement already satisfied: pytz>=2017.3 in /home/josech/py3/lib/python3.9/site-packages (from pandas>=1.1.0->fastparquet) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/josech/py3/lib/python3.9/site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/josech/py3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.16.0)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/home/josech/py3/bin/python -m pip install --upgrade pip' command.

In [26]:
datos.to_parquet('data/data_covid.parquet')

In [27]:
datos.to_csv('data/data_covid.csv')

In [28]:
datos.to_json('data/data_covid.json')